.navbar {
    font-size:2em;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

body {
  background-color: #F0F0F0;
}

img {
  width: 100%;
  object-fit: contain;  
}

.footer-text {
  color: #fff;
  font-size: 10px;
}

a:link {
  color: #3E2680;
}

.section .sign-up {
  font-size:2.5em;
  position: relative;
  text-align: center;
}

.info {
  font-size: .4em;
  margin-left: 20%;
  margin-right: 20%;
}

.background {
  position: relative;
  text-align: center;
  color: #F5F5F5;
  overflow:scroll;
}

.first-txt {
  position: absolute;
  top: 5%;
  left: 35%;
  color: black;
}

.player, .team, .game {
  color: black;
  max-height:65%;
  overflow:auto;
}

.home {
  background-color: #DCE7F3;
  width: 100%;
  text-align: center;
  font-size: 4em;
  padding-bottom: 24px;
}

h1, p{
  background-color: #DDE0E3;
  padding: 30px;
  text-align: center;
}

h2 {
  background-color: #CBC3E3;
  text-align: center;
  padding: 30px;
  margin-left: 25%;
  margin-right: 25%;
}

h4 {
  background-color: #CBC3E3;
  color: #DDE0E3;
}

.first-txt {
  background-color: #DDE0E3;
  padding: 30px;
  text-align: center;
}

.masonry {
  margin: 1.5em auto;
  column-gap: 1.5em;
  margin-top: auto;
  margin-bottom: auto;
  flex-basis: 100%;
}

.item {
  background: #fff;
  padding: 1em;
  margin: 0 0 1.5em;
  font-size: 24px;
  text-align: center;
}


/* large screens */
@media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 4;
  }
  .first-txt {
    /*max-width: 50%;*/
    left: 30%;
    right: 30%;
    font-size: .75em;
  }
  
}

/* medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 3;
  }
  .navbar {
    font-size:1em;
  }
  .first-txt {
    max-width: 70%;
    left: 10%;
    right: 10%;
    font-size: .75em;
  }
  h1, h2, p, h4{
    padding: 15px;
    font-size: .75em;
  }
}

/* small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry {
    column-count: 2;
  }
  .navbar {
    font-size:1em;
  }
  .first-txt {
    max-width: 70%;
    left: 10%;
    font-size: .65em;
  }
  .home {
    font-size: 1.5em;
  }
  
  .info {
    font-size: 1.5em;
  }
}

/* ridiculously small screens */
@media only screen and (max-width: 540px) {
  .masonry {
    column-count: 2;
  }
  .navbar {
    font-size:1em;
  }
  .first-txt {
    max-width: 70%;
    left: 10%;
    font-size: .65em;
  }
  .home {
    font-size: 1.5em;
  }
  
  .info {
    font-size: 1.5em;
  }
}
