/** {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  box-sizing: border-box;*/
/*}*/

.navbar {
    font-size:2em;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

body {
  background-color: #F0F0F0;
}

img {
  width: 100%;
  object-fit: contain;  
}

.footer-text {
  color: #fff;
  font-size: 10px;
}

a:link {
  color: #3E2680;
}

.section .sign-up {
  font-size:2.5em;
  position: relative;
  text-align: center;
}

.info {
  font-size: .4em;
  margin-left: 20%;
  margin-right: 20%;
}

.background {
  position: relative;
  text-align: center;
  color: #F5F5F5;
  overflow:scroll;
}

.first-txt {
  position: absolute;
  top: 5%;
  left: 35%;
  color: black;
}

.player, .team, .game {
  color: black;
  max-height:65%;
  /*width:50%;*/
  overflow:auto;
  /*border:8px solid yellowgreen;*/
  /*padding:2%;*/
}



.home {
  background-color: #DCE7F3;
  width: 100%;
  text-align: center;
  font-size: 4em;
  padding-bottom: 24px;
}

h1, p{
  background-color: #DDE0E3;
  padding: 30px;
  text-align: center;
}

h2 {
  background-color: #CBC3E3;
  text-align: center;
  padding: 30px;
  margin-left: 25%;
  margin-right: 25%;
}

h4 {
  background-color: #CBC3E3;
  color: #DDE0E3;
}

.first-txt {
  background-color: #DDE0E3;
  padding: 30px;
  text-align: center;
}



/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 4;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 3;
  }
  .top-right {
    font-size: 1em;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry {
    column-count: 2;
  }
  .top-right {
    font-size: 1em;
  }
}
